@model IEnumerable<Gen06_23_AutosMVC.Models.Auto>

<div id="taxis" class="taxis_section layout_padding">
    <div class="container">
        <h1 class="our_text">Catalogo de <span style="color: #75ACC7;">Automoviles</span></h1>
        <div class="taxis_section_2">
            <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="card col-sm-4">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img class="img-fluid" src="@Html.DisplayFor(modelItem => item.Urlfoto)" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <ul>
                                <li>@Html.DisplayFor(modelItem => item.Modelo)</li>
                                <li>@Html.DisplayFor(modelItem => item.StatusAuto.Descripcion)</li>
                                </ul>
                                <a href="#!" class="btn btn-primary">Rentar</a>
                            </div>
                        </div>
                    }   
            </div>
        </div>
    </div>
</div>
